<div class="jumbotron">
    <h1>Bem vindo!</h1>
    <p class="lead">Este é o sistema de gerenciamento de clientes.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Como utilizar</h2>
        <p>Interaja com o menu superior do site, navegando até a tela de seu interesse.</p>
    </div>
    <div class="col-md-6">
        <h2>Clientes</h2>
        <p>Nesta tela você encontrará recursos de gerenciamento de clientes e entidades
        que estejam agragadas à ele.</p>
    </div>
</div> 
